body {
	background-image: url("start foto.jpg");
	background-repeat: no-repeat;
	background-size: 1820px 980px;
}
#begintekst {
	color: darkgreen;
	position: absolute;
	height: 100px;
	margin-top: 200px;
	margin-left: 300px;
	font-size: 30px;
}
h1 {
	font-style: oblique;
	color: darkgreen;
	font-size: 100px;
	text-shadow: 5px 5px lightgreen;
	text-align: center;

}
#startknop {
	width: 150px;
	height: 150px;
	margin-left:300px;
	font-size: 30px;
	background-color: darkgreen;
	border:none;
	color: lightgreen;
	border-radius: 60%;
}
#startknop:hover{
	background-color: lightgreen;
	color: black;
	transition-duration: 0.3s;
}
#weg {
	height: 150px;
	width: 150px;
	position: absolute;
	border-radius: 100%;
	background-color: blue;
	border: 5px solid black;
	font-size: 20px;
	margin-top: 300px;
	margin-left: 300px;
	display: none;
}
#weg:hover {
	background-color: lightblue;
	border: 5px solid black;
	transition-duration: 0.3s;
}
#vechten {
	height: 150px;
	width: 150px;
	position: absolute;
	border-radius: 100%;
	background-color: blue;
	border: 5px solid black;
	font-size: 20px;
	margin-top: 300px;
	margin-left: 800px;
	display: none;
}
#vechten:hover {
	background-color: lightblue;
	border: 5px solid black;
	transition-duration: 0.3s;
}
#back {
	height: 150px;
	width: 150px;
	position: absolute;
	border-radius: 100%;
	background-color: red;
	color: white;
	border: 5px solid black;
	font-size: 20px;
	margin-top: -250px;
	margin-left: 0px;
	display: none;
	
}